
#{if success}
	<p class="success">
		${success}
	</p>
#{/if}
<h2 style="text-align: left;">로그인</h2>

<div id="login">
	#{form @Secure.authenticate()}
		
		#{if flash.error}
			<p class="error">
				&{flash.error}
			</p>
		#{/if}
		#{if flash.success}
			<p class="success">
				&{flash.success}
			</p>
		#{/if}
	
		<p id="username-field">
			닉네임
			<input type="text" style="width:180px;" name="username" id="username" value="${flash.username}" />
		</p>
		<p id="password-field">
			비밀번호
			<input type="password" style="width:180px;" name="password" id="password" value="" />
		</p>
		<p id="remember-field">
			<input type="checkbox" style="display:none;" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
			<a  href="#" onclick="sign_up_form(); return false;" class="btn" style="margin:0 30px 0 30px; text-align: left;">회원가입</a>
			<input type="submit" class="btn btn-primary" id="signin" value="로그인" />
		</p>
	#{/form}
</div>
