<script>
	function sign_up(){
		var nickname = $('#sign_up_nickname').val();
		var fullname = $('#sign_up_fullname').val();
		var pwd = $('#sign_up_pwd').val();
		var pwd_confirm = $('#sign_up_pwd_confirm').val();
		if ( pwd != pwd_confirm ){
			alert('비밀번호와 비밀번호 확인이 서로 맞지 않습니다');
		}else{
			$.ajax({
	            url: "/users/sign_up",
	            type: 'POST',
	            data: 'nickname='+ nickname + '&fullname=' + fullname + '&pwd=' + pwd,
	            error: function(){
	                return false;
	            },
	            success: function(data){
	            	$('#sign_form').html(data);
	            }
	       	});	
		}
	}
	
	function sign_up_form(){
		var form = '<h2 style="text-align:left;">회원가입</h2><p>닉네임(아이디) <input type="text" style="width:180px;" id="sign_up_nickname" /></p><p>실제이름 <input type="text" style="width:180px;" id="sign_up_fullname" /></p><p>비밀번호 <input type="password" style="width:180px;" id="sign_up_pwd" /></p><p>비밀번호 확인 <input type="password" style="width:180px;" id="sign_up_pwd_confirm" /></p><div style="margin-bottom:10px;"><a href="/" class="btn" style="margin-right:30px;">로그인</a><a href="#" onclick="sign_up(); return false;" class="btn btn-primary">가입하기</a></div>';
		$('#sign_form').html(form);
	}
	
</script>

#{extends 'main.html' /}
<div style="display:inline-block; border-bottom: 1px solid #c5c5c5;">
	<div class="span7">
		#{list items:users, as:'user'}
		<div style="display:inline-block; text-align:center; margin-right:10px;">
			<img src="@{Users.userPhoto(user.id)}" style="width:80px;" />
			<br />
			${user.nickname}
			#{if user.status}
			<br />
				( <span id="status_user_${user.id}">${user.status.status}</span> )
			#{/if}
		</div>
		#{/list}
	</div>
	<div class="span4" id="sign_form" style="text-align:center; padding-left:10px; border-left: 1px solid #c5c5c5;">
		#{if current_user == null}
		 	#{include 'Secure/login.html' /}
		 #{/if}
		 #{else}
		 	#{include 'Secure/logon.html' /}
		 #{/else}
	</div>
</div>
<h2>Timeline</h2>

<div id="timeline">

	<div id="post">
		#{form @Application.post()}
		<p>
			<label for="content">Your post: </label>
			<textarea name="content" id="content"></textarea>
		</p>
		<p>
			<input type="submit" value="Post" />
		</p>
		#{/form}
	</div>

	<div id="post">
		#{list items:posts, as:'post'}

		<!-- Metadata -->
		<div class="post-metadata">
			<div>
				<span class="post-author">${post.user.fullname}</span> <span
					class="post-date">${post.createdAt}</span>
			</div>
		</div>

		<!-- Contents -->
		<div>
			<span class="post-content">${post.content}</span>
		</div>

		<!-- Comments -->
		<div class="comments">
			#{list items:post.comments, as:'comment'}
			<div class="comment-metadata">
				<span class="comment-author">${comment.user.fullname}</span> <span
					class="comment-date">${comment.createdAt}</span>
			</div>

			<div class="comment-content">
				${comment.content.escape().nl2br()}</div>
			#{/list}
		</div>
	</div>

	#{/list}

</div>
