<script>

	function hideAllReplyForms() {
	  $('.reply-form').hide();
	}
	
	function sign_up(){
		var nickname = $('#sign_up_nickname').val();
		var fullname = $('#sign_up_fullname').val();
		var pwd = $('#sign_up_pwd').val();
		var pwd_confirm = $('#sign_up_pwd_confirm').val();
		if ( pwd != pwd_confirm ){
			alert('비밀번호와 비밀번호 확인이 서로 맞지 않습니다');
		}else{
			$.ajax({
	            url: "/users/sign_up",
	            type: 'POST',
	            data: 'nickname='+ nickname + '&fullname=' + fullname + '&pwd=' + pwd,
	            error: function(){
	                return false;
	            },
	            success: function(data){
	            	$('#sign_form').html(data);
	            }
	       	});	
		}
	}
	
	function sign_up_form(){
		var form = '<div style="padding-right:60px;"><h2 style="text-align:left;">회원가입</h2><p>닉네임(아이디) <input type="text" style="width:180px;" id="sign_up_nickname" /></p><p>실제이름 <input type="text" style="width:180px;" id="sign_up_fullname" /></p><p>비밀번호 <input type="password" style="width:180px;" id="sign_up_pwd" /></p><p>비밀번호 확인 <input type="password" style="width:180px;" id="sign_up_pwd_confirm" /></p><div style="margin-bottom:10px;"><a href="/" class="btn" style="margin-right:30px;">로그인</a><a href="#" onclick="sign_up(); return false;" class="btn btn-primary">가입하기</a></div></div>';
		$('#sign_form').html(form);
	}
	
</script>

#{extends 'main.html' /}
<div class="row">
	<div style="display:inline-block; border-bottom: 1px solid #c5c5c5;">
		<div class="span8">
			#{list items:users, as:'user'}
			<div style="display:inline-block; text-align:center; margin:5px; padding:5px 7px 5px 7px; border:1px solid #c5c5c5;">
				<img src="@{Users.userPhoto(user.id)}" style="width:50px;height:50px;" />
				<br />
				<span class="custom-blue" style="font-weight:bold;">${user.nickname}</span>
				#{if user.status}
				<br />
					( <span id="status_user_${user.id}">${user.status.status}</span> )
				#{/if}
				#{else}
				<br />
					( <span id="status_user_${user.id}">노감정</span> )	
				#{/else}
			</div>
			#{/list}
			
		</div>
		<div class="span4" style="text-align:center;">
			<div id="sign_form" style="border-left: 1px solid #c5c5c5; padding:0 0 10px 10px; text-align:right;">
				#{if current_user == null}
				 	#{include 'Secure/login.html' /}
				 #{/if}
				 #{else}
				 	#{include 'Secure/logon.html' /}
				 #{/else}
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div style="display:inline-block; border-bottom: 1px solid #c5c5c5; padding-top:20px;">
		<div class="span12">
			<div id="post">
				#{if current_user}
				<table width="100%" style="margin-bottom:10px; text-align:center;">
					<tr>
						<td style="width:10%;">
							<img src="@{Users.userPhoto(current_user.id)}" style="width:50px;height:50px;" />
							<br />
							<span class="custom-blue" style="font-weight:bold;">${current_user.nickname}</span>
							#{if current_user.status}
							<br />
								( <span id="status_user_${current_user.id}">${current_user.status.status}</span> )
							#{/if}
							#{else}
							<br />
								( <span id="status_user_${current_user.id}">노감정</span> )	
							#{/else}
						</td>
						<td style="width:80%; text-align:left; padding-bottom:20px;  padding-left:30px; vertical-align:center;">
							#{form @Application.post()}
						      <textarea name="content" id="content" style="width:90%; height:65px; margin-bottom:0;"></textarea>
						</td>
						<td style="width:10%;">
							<input type="submit" class="btn btn-primary" style="width:80%; height:50px;" value="등록" />
						    #{/form}
						</td>
					</tr>
				</table>
				#{/if}
				#{else}
				<table width="100%" style="margin-bottom:10px; text-align:center;">
					<tr>
						<td style="width:100%; height:50px;">
							쓰기는 로그인 후에 가능합니다.
						</td>
					</tr>
				</table>
				
				#{/else}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div style="display:inline-block; border-bottom: 1px solid #c5c5c5;">
		<div class="span12">
			<div style="margin-right:30px;">
				<table width="100%" style="text-align:center;">
					#{list items:posts, as:'post'}
					<tbody style="border-bottom:1px solid #c5c5c5;">
					<tr>
						<td style="width:10%; padding:10px 0 10px 0; vertical-align:center;">
							<img src="@{Users.userPhoto(post.user.id)}" style="width:50px;height:50px;" />
							<br />
							<span class="custom-blue" style="font-weight:bold;">${post.user.nickname}</span>
							#{if post.user.status}
							<br />
								( <span id="status_user_${post.user.id}">${post.user.status.status}</span> )
							#{/if}
							#{else}
							<br />
								( <span id="status_user_${post.user.id}">노감정</span> )	
							#{/else}
						</td>
						<td style="width:80%; text-align:left; padding-bottom:20px;  padding-left:30px; vertical-align:center;">
							${post.content} 
							<br />${post.createdAt}
						</td>
						<td style="width:10%; vertical-align:center; padding-bottom:20px; ">
							<a href="#" onclick="hideAllReplyForms(); $('#post-reply_${post.id}').toggle(); return false;">Reply</a>
						</td>
					</tr>
					#{if post.comments}
						#{list items:post.comments, as:'comment'}
						<tr>
							<td style="width:10%;"></td>
							<td colspan="2" style=" width:80%; text-align:left;">
								<div style="float:left;">
									<img src="@{Users.userPhoto(comment.user.id)}" style="width:50px;height:50px;" />
								</div>
								<div style="float:left; margin-left:10px;">
								<span class="custom-blue" style="font-weight:bold; font-size:15px;"> ${comment.user.nickname}</span><br />
								${comment.content.escape().nl2br()}
								</div>
							</td>
						</tr>
						#{/list}
					#{/if}
					<tr id="post-reply_${post.id}" style="display:none;">
						#{form @Application.postComment(post.id)}
						<td style="width:10%;">Replying to ${post.user.nickname}:</td>
						<td style="width:80%; padding-bottom:10px;">
							<textarea name="content" id="content" style="width:90%; height:35px; margin-bottom:0;"></textarea>
						</td>
						<td style="width:10%;">
							<input type="submit" class="btn btn-primary" style="width:80%; height:35px;" value="등록" />
						</td>
				          #{/form}
					<tr>
					</tbody>
					#{/list}
				</table>
			</div>
		</div>
	</div>
</div>
