<h2 style="text-align: left;">${user.nickname}님 환영합니다</h2>
<p>
	<span>
		#{if user.status }
			감정 :
			${user.status.status}
			<a href="#" class="btn">변경</a>
		#{/if}
		#{else}
			감정선택 :
			<select name='status_select' id="status_setting" style="width:80px;">
			#{list items:all_status, as:'status'}
			   <option value='${status.id}'>${status.status}</option>
			#{/list}   
			</select>
			<a href="#" onclick="status_select(); return false;" class="btn">선택</a>
		#{/else}
	</span>
</p>
<div style="margin-bottom: 10px;">
	<a href="#" onclick="sign_out(); return false;" class="btn btn-primary">로그아웃</a>
</div>