<!DOCTYPE html>

<html>
  <head>
    <title>${appName}</title>
    <meta charset="${_response_encoding}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen"
          href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" media="screen"
          href="@{'/public/stylesheets/bootstrap.css'}">
    <link rel="stylesheet" media="screen"
          href="@{'/public/stylesheets/bootstrap-responsive.css'}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png"
          href="@{'/public/images/favicon.png'}">

    <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}"
            type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/kakaoLink.js'}"
            type="text/javascript" charset="${_response_encoding}"></script>
    #{get 'moreScripts' /}

    <script language="javascript">
  $(document).ready(function() {
    $('.dropdown-toggle').dropdown();
  });
  $(function() {
	var msg = "그룹을 위한 커뮤니티, 그루머";
	var url = "http://218.38.12.163:9000/";
	var appid = "http://218.38.12.163:9000/";
	var appver = "2.0";
	var appname = "Groummer";
	var link = new com.kakao.talk.KakaoLink(msg, url, appid, appver, appname);
	       $("#kakao").click(function() {// button click event
		        link.execute();
	       });
	});
    </script>

  </head>
  <body>
    <div id="flash" class="flash_html" style="display:none;" >
      #{if flash.message}
      ${flash.message}
      #{/if}
    </div>

    <!-- Navigation -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" style="margin-top:5px;" href="/">${appName}</a>
		  <a href="#" onclick="return false;" id="kakao"><img src="public/images/kakao.jpg" style="height:45px;" /></a>

          <!-- User info -->
          <ul class="nav pull-right">
            #{if current_user}
            <li class="dropdown" id="user-menu">
              <a href="#user-menu" class="dropdown-toggle" data-toggle="dropdown">
                <img src="@{Users.userPhoto(current_user.id)}" style="width:26px;height:26px;" />
                ${current_user.nickname}
                <b class="caret"></b>
              </a>

              <ul class="dropdown-menu">
                <table  style="width:100%;">
                  <tr >
                    <td style="text-align:center;">
                      <img src="@{Users.userPhoto(current_user.id)}" style="width:80px;height:80px;" />
                    </td>
                  </tr>
                  <tr>
                    <td style="text-align:center">
                      <span>${current_user.fullname}</span>
                      <br />

                      <div>
                        #{form @Users.profileImage_upload(), id:'profile_image', enctype:'multipart/form-data'}
                        <input id="user_profileImage" name="profileImage" style="visibility:hidden; width:1px;" type="file" onchange="submitProfileImage();">
                        <button class="btn" onclick="javascript:document.getElementById('user_profileImage').click(); return false;">프로필 변경</button>
                        <!-- <input type="submit" name="submit" class="btn" style="width:60px;" value="등록" /> -->
                        #{/form}

                      </div>

                      <div>
                        <form action="/users/status_select" method="post">
                          <select name='status_id' id="status_id" style="width:80px; margin-bottom:0;">
                            <option></option>
                            #{list items:all_status, as:'status'}

                            <option value='${status.id}' #{if status.id == current_user.status.id}selected#{/if}>${status.status}</option>

                            #{/list}
                          </select>
                          <input type="submit" class="btn" id="signin" value="변경" />
                        </form>
                      </div>

                    </td>
                  </tr>
                </table>
                <br />

                <li><a href="/logout">로그아웃</a></li>

              </ul>
            </li>
            #{/if}

            #{else}
            <li class="dropdown" id="signin-menu">
              <a href="#signin-menu" class="dropdown-toggle" data-toggle="dropdown">
                로그인
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                #{include 'Secure/signin.html' /}
              </ul>
            </li>

            <li class="dropdown" id="signup-menu">
              <a href="#signup-menu" class="dropdown-toggle" data-toggle="dropdown">
                사용자 등록
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                #{include 'Secure/signup.html' /}
              </ul>
            </li>
            #{/else}
          </ul>

        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="container">
      #{doLayout /}
    </div>

    <!-- Lazy script loading -->
    <script type="text/javascript">
              function notify(flash_message) {
                // jQuery: reference div, load in message, and fade in
                var flash_div = $(".flash_html");
                flash_div.html(flash_message);
                flash_div.attr('class', 'flash_ajax');
                flash_div.fadeIn("fast");

                // use Javascript timeout function to delay calling
                // our jQuery fadeOut, and hide
                setTimeout(function(){
                  flash_div.fadeOut("fast", function(){
                    flash_div.html("");
                    flash_div.attr('class', 'flash_html');
                    flash_div.hide();
                  })
                }, 2000);
              }

              var flash_message = $.trim($(".flash_html").html());
              // call our flash display function
              if (flash_message != "") {
                notify(flash_message);
              }

              function submitProfileImage() {
                document.forms.profile_image.submit();
              }
    </script>

    <script src="@{'/public/javascripts/bootstrap.js'}"
            type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/bootstrap-alert.js'}"
            type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/bootstrap-dropdown.js'}"
            type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/public/javascripts/bootstrap-modal.js'}"
            type="text/javascript" charset="${_response_encoding}"></script>

  </body>
</html>
